In [1]:
import numpy as np
import pandas as pd
from pandas import Series

# Exercice1

1) creation du DataFrame

In [2]:
nom=["Doudou","Amy","Moussa"]
age=[10,15,20]
poids=[75,123,239]
taille=[4.5,5,6.1]
genre=["M","F","M"]
info={"Noms":nom,"Age":age,"Poids":poids,"Taille":taille,"Genre":genre}
df1=pd.DataFrame(info) # Création du DataFrame
df1

     Noms  Age  Poids  Taille Genre
0  Doudou   10     75     4.5     M
1     Amy   15    123     5.0     F
2  Moussa   20    239     6.1     M

In [3]:
donnee=np.array([[12,20],[22,19]])
df2=pd.DataFrame(donnee, index=["an 1","an 2"], columns=["vaches","chevres"]) # Création du DataFrame
df2

      vaches  chevres
an 1      12       20
an 2      22       19

3) Enregistrement du DataFrame sous le nom de vache_chevre.csv

In [4]:
df2.to_csv("vache_chevre.csv")

4) Transformation du fichier vache_chevre.csv en DataFrame

In [5]:
import pandas as pd
animaux=pd.read_csv("vache_chevre.csv",index_col=0)
animaux

      vaches  chevres
an 1      12       20
an 2      22       19

# Exercice 2


1) Importation du fichier boissons_evaluees.csv

In [6]:
import pandas as pd
boisson=pd.read_csv("boissons_evaluees.csv",index_col=0)
boisson

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks
...,...,...,...,...,...,...,...,...,...,...,...,...,...
129966,Germany,Notes of honeysuckle and cantaloupe sweeten th...,Brauneberger Juffer-Sonnenuhr Spätlese,90,28.0,Mosel,NaN,NaN,Anna Lee C. Iijima,NaN,Dr. H. Thanisch (Erben Müller-Burggraef) 2013 ...,Riesling,Dr. H. Thanisch (Erben Müller-Burggraef)
129967,US,Citation is given as much as a decade of bottl...,NaN,90,75.0,Oregon,Oregon,Oregon Other,Paul Gregutt,@paulgwine,Citation 2004 Pinot Noir (Oregon),Pinot Noir,Citation
129968,France,Well-drained gravel soil gives this wine its c...,Kritt,90,30.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Gresser 2013 Kritt Gewurztraminer (Als...,Gewürztraminer,Domaine Gresser
129969,France,"A dry style of Pinot Gris, this is crisp with ...",NaN,90,32.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Marcel Deiss 2012 Pinot Gris (Alsace),Pinot Gris,Domaine Marcel Deiss
129970,France,"Big, rich and off-dry, this is powered by inte...",Lieu-dit Harth Cuvée Caroline,90,21.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Schoffit 2012 Lieu-dit Harth Cuvée Car...,Gewürztraminer,Domaine Schoffit

2) Determination de la mediane de la colonne points du DataFrame de boisson

In [7]:
qualite=boisson.points.median()
print("La mediane de la colonne points est egale à : ",qualite)

La mediane de la colonne points est egale à :  88.0

3) Les pays représentés dans l'ensemble de données

In [8]:
print("La liste des pays représentés dans l'ensemble de données est : \n \n",boisson.country.unique())

La liste des pays représentés dans l'ensemble de données est :

 ['Italy' 'Portugal' 'US' 'Spain' 'France' 'Germany' 'Argentina' 'Chile'
 'Australia' 'Austria' 'South Africa' 'New Zealand' 'Israel' 'Hungary'
 'Greece' 'Romania' 'Mexico' 'Canada' nan 'Turkey' 'Czech Republic'
 'Slovenia' 'Luxembourg' 'Croatia' 'Georgia' 'Uruguay' 'England' 'Lebanon'
 'Serbia' 'Brazil' 'Moldova' 'Morocco' 'Peru' 'India' 'Bulgaria' 'Cyprus'
 'Armenia' 'Switzerland' 'Bosnia and Herzegovina' 'Ukraine' 'Slovakia'
 'Macedonia' 'China' 'Egypt']

4) La fréquence donc figure chaque pays dans l'ensemble des données.

In [9]:
frequence_pays = boisson.country.value_counts()
frequence_pays

US                        54504
France                    22093
Italy                     19540
Spain                      6645
Portugal                   5691
Chile                      4472
Argentina                  3800
Austria                    3345
Australia                  2329
Germany                    2165
New Zealand                1419
South Africa               1401
Israel                      505
Greece                      466
Canada                      257
Hungary                     146
Bulgaria                    141
Romania                     120
Uruguay                     109
Turkey                       90
Slovenia                     87
Georgia                      86
England                      74
Croatia                      73
Mexico                       70
Moldova                      59
Brazil                       52
Lebanon                      35
Morocco                      28
Peru                         16
Ukraine                      14
Serbia                       12
Czech Republic               12
Macedonia                    12
Cyprus                       11
India                         9
Switzerland                   7
Luxembourg                    6
Bosnia and Herzegovina        2
Armenia                       2
Slovakia                      1
China                         1
Egypt                         1
Name: country, dtype: int64

     Créez une Series de boisson_par_pays en faisant correspondre les pays au nombre de critiques de boisson de ce pays.

In [10]:
# Series de boisson par pays
boisson_pays = boisson.groupby("country").points.unique()
boisson_pays
critique = []
for i in range(len(boisson_pays.index)):
    critique.append(len(boisson_pays[i]))
serie_boisson = Series(critique, index=boisson_pays.index)
serie_boisson

country
Argentina                 18
Armenia                    2
Australia                 21
Austria                   17
Bosnia and Herzegovina     2
Brazil                    10
Bulgaria                  11
Canada                    13
Chile                     16
China                      1
Croatia                   11
Cyprus                     4
Czech Republic             5
Egypt                      1
England                    7
France                    21
Georgia                   10
Germany                   18
Greece                    12
Hungary                   16
India                      6
Israel                    15
Italy                     21
Lebanon                   10
Luxembourg                 3
Macedonia                  6
Mexico                    13
Moldova                   10
Morocco                    8
New Zealand               16
Peru                       7
Portugal                  21
Romania                   10
Serbia                     4
Slovakia                   1
Slovenia                  11
South Africa              14
Spain                     19
Switzerland                3
Turkey                     9
US                        21
Ukraine                    6
Uruguay                   13
dtype: int64

5. Créez la variable prix_centre contenant une version de la colonne price avec le prix moyen soustrait.

In [11]:
price_mean = np.nanmean(boisson.price)
boisson.price.map(lambda prix_centre: prix_centre - price_mean)

0               NaN
1        -20.363389
2        -21.363389
3        -22.363389
4         29.636611
            ...
129966    -7.363389
129967    39.636611
129968    -5.363389
129969    -3.363389
129970   -14.363389
Name: price, Length: 129971, dtype: float64

6) Je suis un acheteur de boisson. Quelle boisson est la meilleure affaire ? Créez une variable boisson_negociee avec le titre de la boisson ayant le meilleur rapport qualité/prix dans l’ensemble de données

In [12]:
qualite_prix = boisson.points/boisson.price
indice = np.where(qualite_prix.values==qualite_prix.max())
boisson_negociee=[]
for i in range(len(indice[0])):
    boisson_negociee.append(boisson.title[indice[0][i]])
print("La boisson ayant la meilleur rapport qualite_prix (egal à ",qualite_prix.max(),") est : ", boisson_negociee)

La boisson ayant la meilleur rapport qualite_prix (egal à  21.5 ) est :  ['Bandit NV Merlot (California)', 'Cramele Recas 2011 UnWineD Pinot Grigio (Viile Timisului)']

In [13]:
indice[0]
boisson.loc[indice[0]]

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
64590,US,"There's a lot going on in this Merlot, which i...",NaN,86,4.0,California,California,California Other,NaN,NaN,Bandit NV Merlot (California),Merlot,Bandit
126096,Romania,Notes of sun-dried hay and green flower highli...,UnWineD,86,4.0,Viile Timisului,NaN,NaN,Anna Lee C. Iijima,NaN,Cramele Recas 2011 UnWineD Pinot Grigio (Viile...,Pinot Grigio,Cramele Recas

In [14]:
#*****Autre methode*****mais qui renvoie la premiere valeur
qualite_prix = boisson.points/boisson.price
boisson_negocie = boisson.title[np.argmax(qualite_prix)]
boisson_negocie

'Bandit NV Merlot (California)'

# Exercice 3

On considère le fichier boissons_evaluees.csv

1. Quels sont les critiques de boisson les plus fréquentes dans l’ensemble des données ?

In [15]:
frequence_boisson = boisson.country.value_counts()
frequence_boisson

US                        54504
France                    22093
Italy                     19540
Spain                      6645
Portugal                   5691
Chile                      4472
Argentina                  3800
Austria                    3345
Australia                  2329
Germany                    2165
New Zealand                1419
South Africa               1401
Israel                      505
Greece                      466
Canada                      257
Hungary                     146
Bulgaria                    141
Romania                     120
Uruguay                     109
Turkey                       90
Slovenia                     87
Georgia                      86
England                      74
Croatia                      73
Mexico                       70
Moldova                      59
Brazil                       52
Lebanon                      35
Morocco                      28
Peru                         16
Ukraine                      14
Serbia                       12
Czech Republic               12
Macedonia                    12
Cyprus                       11
India                         9
Switzerland                   7
Luxembourg                    6
Bosnia and Herzegovina        2
Armenia                       2
Slovakia                      1
China                         1
Egypt                         1
Name: country, dtype: int64

1) Créons une Series dont l’index est la catégorie taster_twitter_handle de l’ensemble de données, et dont les valeurs comptent le nombre de critiques que chaque personne a rédigées.

In [16]:
# Series de boisson par pays
twitter_critique = boisson.groupby("taster_twitter_handle").points.unique()
twitter_critique
critique_twt = []
for i in range(len(twitter_critique.index)):
    critique_twt.append(len(twitter_critique[i]))
serie_critique = Series(critique_twt, index = twitter_critique.index)
serie_critique

taster_twitter_handle
@AnneInVino         17
@JoeCz              21
@bkfiona             7
@gordone_cellars    18
@kerinokeefe        21
@laurbuzz           15
@mattkettmann       17
@paulgwine          21
@suskostrzewa       15
@vboone             20
@vossroger          21
@wawinereport       18
@wineschach         19
@winewchristina      4
@worldwineguys      16
dtype: int64

2. Quelle est la meilleure boisson que je puisse acheter pour une somme donnée ?

In [17]:
prix = boisson.price
somme_donnee = int(input("Entrer la somme que vous avez pour acheter de la boisson : "))
Df_achats = boisson['price'] <= somme_donnee # retourne une serie booleen
Df_achat = boisson[Df_achats]  # retourne le DataFrame
qualite_prix_achat = Df_achat.points/Df_achat.price
#Df_achat.insert(2, "qualite_prix", qualite_prix_achat, allow_duplicates = False)
#Df_achat.set_index('country')
indice_achat = np.where(qualite_prix_achat.values==qualite_prix_achat.max())
boisson_achat=[]
#for i in range(len(indice_achat[0])):
#    boisson_achat.append(Df_achat.loc[indice_achat[0][i]]) # Creation de la liste des noms des boissons pouvant etre acheté
print("La meilleur boisson à acheter est : \n" )
Resultat = Df_achat.iloc[indice_achat[0]]
Resultat.title

Entrer la somme que vous avez pour acheter de la boisson : 18
La meilleur boisson à acheter est :

64590                         Bandit NV Merlot (California)
126096    Cramele Recas 2011 UnWineD Pinot Grigio (Viile...
Name: title, dtype: object

In [18]:
boisson.loc[6]

country                                                              Italy
description              Here's a bright, informal red that opens with ...
designation                                                        Belsito
points                                                                  87
price                                                                 16.0
province                                                 Sicily & Sardinia
region_1                                                          Vittoria
region_2                                                               NaN
taster_name                                                  Kerin O’Keefe
taster_twitter_handle                                         @kerinokeefe
title                     Terre di Giurfo 2013 Belsito Frappato (Vittoria)
variety                                                           Frappato
winery                                                     Terre di Giurfo
Name: 6, dtype: object

Créez une Series dont l’indice est le prix de la boisson et dont la valeur est le nombre maximum de points qu’une boisson coûtant le même prix a obtenu dans une critique. Trier les valeurs par prix, en ordre croissant.

In [20]:
boisson_trie = boisson.groupby('price').points.max()
boisson_trier = boisson_trie.sort_values()
boisson_trier

price
4.0        86
5.0        87
790.0      87
181.0      88
3300.0     88
         ...
617.0     100
450.0     100
650.0     100
460.0     100
150.0     100
Name: points, Length: 390, dtype: int64

3. Quels sont les prix minimum et maximum pour chaque cépage (variety) de boisson ?

In [21]:
maximum_variete_boisson = boisson.groupby('variety').price.max()
print("Les prix maximum pour chaque cépage(variety) sont : ",maximum_variete_boisson)
minimum_variete_boisson = boisson.groupby('variety').price.min()
print("\n\nLes prix minimum pour chaque cépage(variety) sont : ",minimum_variete_boisson)

Les prix maximum pour chaque cépage(variety) sont :  variety
Abouriou        75.0
Agiorgitiko     66.0
Aglianico      180.0
Aidani          27.0
Airen           10.0
               ...
Zinfandel      100.0
Zlahtina        16.0
Zweigelt        70.0
Çalkarası       19.0
Žilavka         15.0
Name: price, Length: 707, dtype: float64


Les prix minimum pour chaque cépage(variety) sont :  variety
Abouriou       15.0
Agiorgitiko    10.0
Aglianico       6.0
Aidani         27.0
Airen           8.0
               ...
Zinfandel       5.0
Zlahtina       13.0
Zweigelt        9.0
Çalkarası      19.0
Žilavka        15.0
Name: price, Length: 707, dtype: float64

Créez un DataFrame dont l’indice est la catégorie variety de l’ensemble de données et dont les valeurs sont les valeurs min et max de celui-ci.

In [22]:
df_variete = pd.DataFrame({"minimum":minimum_variete_boisson, "maximun":maximum_variete_boisson})
df_variete

             minimum  maximun
variety
Abouriou        15.0     75.0
Agiorgitiko     10.0     66.0
Aglianico        6.0    180.0
Aidani          27.0     27.0
Airen            8.0     10.0
...              ...      ...
Zinfandel        5.0    100.0
Zlahtina        13.0     16.0
Zweigelt         9.0     70.0
Çalkarası       19.0     19.0
Žilavka         15.0     15.0

[707 rows x 2 columns]

4. Créer une Series dont l’indice est celui des « commentateurs » et dont la valeur est la note moyenne de l’examen donné par ce « commentateur ». Astuce : vous aurez besoin des colonnes taster_name et points.

In [23]:
serie_taster_name_points = boisson.groupby('taster_name').points.mean()
serie_taster_name_points

taster_name
Alexander Peartree    85.855422
Anna Lee C. Iijima    88.415629
Anne Krebiehl MW      90.562551
Carrie Dykes          86.395683
Christina Pickard     87.833333
Fiona Adams           86.888889
Jeff Jenssen          88.319756
Jim Gordon            88.626287
Joe Czerwinski        88.536235
Kerin O’Keefe         88.867947
Lauren Buzzeo         87.739510
Matt Kettmann         90.008686
Michael Schachner     86.907493
Mike DeSimone         89.101167
Paul Gregutt          89.082564
Roger Voss            88.708003
Sean P. Sullivan      88.755739
Susan Kostrzewa       86.609217
Virginie Boone        89.213379
Name: points, dtype: float64

5. Quel est le type de données de la colonne points dans l’ensemble de données ?

In [24]:
boisson.points.dtypes

dtype('int64')

6. Parfois, la colonne price est nulle. A combien d’avis dans l’ensemble de données manque-t-il un prix ?

In [25]:
prix_no_manquante = boisson[pd.notnull(boisson.price)]
print("Sur ",len(boisson)," avis, il manque ",len(boisson.price) - len(prix_no_manquante.price))

Sur  129971  avis, il manque  8996

In [26]:
prix_no_manquante1 = boisson[pd.isnull(boisson.price)]
print("Sur ",len(boisson)," avis, il manque ",len(prix_no_manquante1))

Sur  129971  avis, il manque  8996